# ============================================
# TELEPARK Frontend - Variables de Entorno
# ============================================
#
# Port for the development server (CRA)
# Default: 3000
# PORT=8081

# URL base del API de Django REST
# Ej: http://localhost:8080/api/v1 (desarrollo local)
# Ej: https://api.telepark.com/api/v1 (producción)
REACT_APP_API_URL=http://localhost:8080/api/v1
PORT=8081
