.checkboxMargin {
  margin-right: 10px;
}

.searchInputWrapper {
  margin-bottom: 10px;
}

.searchActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.checkLabel {
  inline-size: max-content;
}

.referenteSection {
  margin-top: 50px;
}

.confirmCenter {
  text-align: center;
}
