.pageHeader {
  padding-top: 20px;
}

.textRight {
  text-align: right;
}

.tableFullWidth {
  width: 100%;
}

.tableBodyMiddle {
  vertical-align: middle;
}

.rowActionButton {
  margin-right: 10px;
}
