.pageHeader {
  padding-top: 20px;
}

.textRight {
  text-align: right;
}

.tableFullWidth {
  width: 100%;
}

.tableBodyMiddle {
  vertical-align: middle;
}

.rowActionButton {
  margin-right: 10px;
}

.actionColumn {
  min-width: 100px;
  white-space: nowrap;
}

.descriptionColumn {
  max-width: 300px;
  word-wrap: break-word;
}
