.pageHeader {
  padding-top: 20px;
}

.textRight {
  text-align: right;
}

.formActions {
  text-align: center;
  padding-top: 38px;
}

.submitButton {
  width: 40%;
}

.cancelButton {
  width: 40%;
  margin-left: 10px;
}

.tableFullWidth {
  width: 100%;
}

.tableBodyMiddle {
  vertical-align: middle;
}

.rowActionButton {
  margin-right: 10px;
}
