.contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.margenbutton {
  margin-left: 15px;
}

.btn-verde {
  box-shadow: 3px 3px #0d8602;
  background-image: linear-gradient(to right, #44f334, #12c70c, #28c209);
  color: white;
}

.btn-rojo {
  box-shadow: 3px 3px #860202;
  background-image: linear-gradient(to right, #f73838, #c70c0c, #c20909);
  color: white;
}

.btn-rojo-simple {
  background-image: linear-gradient(to right, #f73838, #c70c0c, #c20909);
  color: white;
}

.btn-azul {
  box-shadow: 3px 3px #0b0286;
  background-image: linear-gradient(to right, #383bf7, #1f0cc7, #2509c2);
  color: white;
}

.btn-azul-simple {
  background-image: linear-gradient(to right, #383bf7, #1f0cc7, #2509c2);
  color: white;
}

.btn-celeste {
  box-shadow: 3px 3px #024686;
  background-image: linear-gradient(to right, #387bf7, #0c6dc7, #096fc2);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*.submenu {
  display: flex;
}*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-paciente {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e1e1e3, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1e1e3,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem;
}

.logo {
  width: 150px;
  height: auto;
  padding: 0.5em 0;
}

footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  font-style: italic;
  align-items: center;
  justify-content: center;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e1e1e3, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e1e1e3,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  background-color: white;
  border-radius: 12px;
  border: rgba(255, 255, 255, 0) !important;
}

table th,
table td {
  text-align: center;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  thead {
    display: none;
  }
  tr:nth-of-type(2n) {
    background-color: inherit;
  }
  tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
  }
  tbody td {
    display: block;
    text-align: center;
  }
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}

.form-control,
.form-select {
  border-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.field-error {
  font-size: 12px;
  margin-bottom: 0;
  color: red;
  font-weight: bold;
}

/*
.form-paciente {
  justify-content:center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 12px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} */
